 .bar-section{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: auto; 
  text-align: center;
  margin-top: 25px;
 
} 


.bar-chart {
    display: flex;
    width: 50%;
    flex-direction: column;
} 
  
   .bar {
    margin-bottom: 10px;
  } 
  
   .bar-fill {
    height: 20px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
  /* .label {
    padding: 5px;
    color: white;
  }
   */


.label {
  padding: 0 8px;
  color: white; /* Adjust the label text color as needed */
  font-size: 14px; /* Adjust the font size as needed */
}
