#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.topText{
    /* background-color: rgb(40, 40, 40); */
    text-align: center;
    height: 10vh;
    padding-top: 4vh;
    color: rgb(118, 146, 75);
    font-style: italic;

}
.bg{
    position: absolute;
    top: 1rem;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    object-fit: cover;
    height: 75vh;

}

.introContent{
    height: 75vh;
    width:100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    border-radius: 0.9%;
    text-align: center;   
}

.hello{
    font-size: 1.75rem;
    font-weight: 200;
    
}

.introName{
    color: greenyellow;
  
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.btnResume{
    background: white;
    /* margin: 1rem 0;   */
    margin-right: 25px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem ;
}
.btnResumeImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem ;
}
@media screen and (max-width:840px) {
    .bg{
        right: 10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5rem;
    }
}



@media screen and (max-width:480px) {
    .bg{
        right: -20vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5rem;
    }
}