:root {
  --primary-color:#008080; /* Define your primary color */
  --secondary-color:#cf7e7e; /* Define your secondary color */
  --tertiary-color:#98FB98;
  --fourth-colr:#FF6B6B;   
}
#certificationSection {
    margin: 20px;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
  }

  .cheader::before{
    content: "";
    position: absolute;
    bottom: 50%; /* Adjust the vertical position of the line (50% centers it on the text) */
    left: 0;
    width: 39.5%; /* Line extends to the maximum width of the container */
    border-bottom: 2px solid var(--primary-color); /* Line color and thickness */
  }
  .cheader::after{
    content: "";
    position: absolute;
    bottom: 50%; /* Adjust the vertical position of the line (50% centers it on the text) */
    right: 0;
    width: 39.5%; /* Line extends to the maximum width of the container */
    border-bottom: 2px solid var(--primary-color); /* Line color and thickness */
  }
  .cheader {
    text-align: center;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
    padding: 0 0px; /* Adjust padding as needed */
    font-family:fantasy;
    text-decoration: wavy;
    text-shadow: 1px 1px 1px #008080;
  }
  

  .h2{
    text-align: center;
    font-size: 3rem;
  }
  .certification-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .certification-tiles-2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 50px;
    justify-content: center;
    margin-top: 2rem;
  }
  

  .certification-tile {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
  }

  .certification-tile:hover{
    transform: scale(1.1);
  }
  
  .certification-tile img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .certification-tile a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .blur-background {
    filter: blur(5px);
    display: none; /* Adjust the blur radius as needed */
    /* transition: filter 0.3s ease; Add a smooth transition effect */
  }
  
  @media screen and (max-width: 1620px) {
    .cheader::before{
      width: 35%;
    }
    .cheader::after{
      width: 35%;
    }
  }

  @media screen and (max-width: 1400px) {
    .cheader::before{
      width: 0%;
    }
    .cheader{
      text-decoration: underline;
    }
    .cheader::after{
      width: 0%;
    }
  }

